@{
    ViewData["Title"] = "Calls";
}


<!-- Button trigger modal -->
<div class="col-12">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Add
    </button>
    
    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Edit
    </button>
    <button type="button" class="btn btn-danger">Delete</button>
    <br /> <br />
</div>

<!-- Modal -->
<div class="modal fade text-black" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="col-12 modal-title text-center" id="staticBackdropLabel">ADD A NEW CUSTOMER</h5>
        
      </div>
      <div class="modal-body text-center">
        
          <div class="row g-3 align-items-center">
                <div class="col-6">
                <label for="dateofcall" class="col-form-label">Date Of Call</label>
                </div>
                <div class="col-6">
                <input type="date" id="dateofcall" class="form-control" aria-describedby="dataofcall">
                </div>      
          </div>
          <br />
          <div class="row g-3 align-items-center">
                <div class="col-6">
                <label for="timeofcall" class="col-form-label">Time Of Call</label>
                </div>
                <div class="col-6">
                <input type="time" id="timeofcall" class="form-control" aria-describedby="timeofcall">
                </div>      
          </div>
          <br />
          <div class="row g-3 align-items-center">
                <div class="col-6">
                <label for="subject" class="col-form-label">Subject</label>
                </div>
                <div class="col-6">
                <input type="text" id="subject" class="form-control" aria-describedby="subject">
                </div>      
          </div>
          <br />
          <div class="row g-3 align-items-center">
                <div class="col-6">
                <label for="description" class="col-form-label">Description</label>
                </div>
                <div class="col-6">
                <input type="text" id="address" class="form-control" aria-describedby="description">
                </div>      
          </div>
          <br />

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>

<!--Table-->
<div class="table-responsive" id="no-more-tables">
       <table id="table" class="table text-white table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Customer N°</th>
                <th>Date Of Call</th>
                <th>Time Of Call</th>
                <th>Subject</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-title="N°">1</td>
                <td data-title="Date Of Call">03-10-2023 </td>
                <td data-title="Time Of Call">08:13:20</td>
                <td data-title="Subject">Edinburgh</td>
                <td data-title="Description">This is a description</td>
                
            </tr>
            <tr>
                <td data-title="N°">2</td>
                <td data-title="Date Of Call">04-11-2023 </td>
                <td data-title="Time Of Call"> 08:13:20</td>
                <td data-title="Subject">Tokyo</td>
                <td data-title="Description">Descrip</td>
                
            </tr>
            <tr>
                <td data-title="N°">3</td>
                <td data-title="Date Of Call">05-16-2023</td>
                <td data-title="Time Of Call"> 08:13:20</td>
                <td data-title="Subject">San Francisco</td>
                <td data-title="Description">Descrip</td>
                
            </tr>
            <tr>
                <td data-title="N°">4</td>
                <td data-title="Date Of Call">08-11-2023 </td>
                <td data-title="Time Of Call"> 08:13:20</td>
                <td data-title="Subject">Edinburgh</td>
                <td data-title="Description">Descrip</td>
                
            </tr>
            <tr>
                <td data-title="N°">5</td>
                <td data-title="Date Of Call">2023-11-24 </td>
                <td data-title="Time Of Call"> 08:13:20</td>
                <td data-title="Subject">Tokyo</td>
                <td data-title="Description">Descrip</td>
                
            </tr>
            <tr>
                <td data-title="N°">6</td>
                <td data-title="Date Of Call">2023-11-24 </td>
                <td data-title="Time Of Call">Wil 08:13:20</td>
                <td data-title="Subject">New York</td>
                <td data-title="Description">Descrip</td>
                
            </tr>
            <tr>
                <td data-title="N°">7</td>
                <td data-title="Date Of Call">2023-11-24 </td>
                <td data-title="Time Of Call">08:13:20</td>
                <td data-title="Subject">San Francisco</td>
                <td data-title="Description">Descrip</td>
                
            </tr>
            <tr>
                <td data-title="N°">8</td>
                <td data-title="Date Of Call">2023-11-24 </td>
                <td data-title="Time Of Call">08:13:20</td>
                <td data-title="Subject">Tokyo</td>
                <td data-title="Description">Descrip</td>
                
            </tr>
            <tr>
                <td data-title="N°">9</td>
                <td data-title="Date Of Call">2023-11-24 </td>
                <td data-title="Time Of Call"> 08:13:20</td>
                <td data-title="Subject">San Francisco</td>
                <td data-title="Description">Descrip</td>
                
            </tr>
            <tr>
                <td data-title="N°">10</td>
                <td data-title="Date Of Call">2023-11-24 </td>
                <td data-title="Time Of Call"> 08:13:20</td>
                <td data-title="Subject">Edinburgh</td>
                <td data-title="Description">Descrip</td>
                
            </tr>
            <tr>
                <td data-title="N°">11</td>
                <td data-title="Date Of Call">2023-11-24 </td>
                <td data-title="Time Of Call"> 08:13:20</td>
                <td data-title="Subject">London</td>
                <td data-title="Description">Descrip</td>
                
            </tr>
            <tr>
                <td data-title="N°">12</td>
                <td data-title="Date Of Call">2023-11-24 </td>
                <td data-title="Time Of Call"> 08:13:20</td>
                <td data-title="Subject">Edinburgh</td>
                <td data-title="Description">Descrip</td>
                
            </tr>
            <tr>
                <td data-title="N°">13</td>
                <td data-title="Date Of Call">2023-11-24 </td>
                <td data-title="Surename">08:13:20</td>
                <td data-title="Subject">San Francisco</td>
                <td data-title="Description">Descrip</td>
                
            </tr>
            <tr>
                <td data-title="N°">14</td>
                <td data-title="Date Of Call">2023-11-24 </td>
                <td data-title="Time Of Call"> 08:13:20</td>
                <td data-title="Subject">London</td>
                <td data-title="Description">Descrip</td>
                
            </tr>
            <tr>
                <td data-title="N°">15</td>
                <td data-title="Date Of Call">2023-11-24 </td>
                <td data-title="Time Of Call">08:13:20</td>
                <td data-title="Subject">London</td>
                <td data-title="Description">Descrip</td>
                
            </tr>
            <tr>
                <td data-title="N°">16</td>
                <td data-title="Date Of Call">2023-11-24 </td>
                <td data-title="Time Of Call"> 08:13:20</td>
                <td data-title="Subject">London</td>
                <td data-title="Description">Descrip</td>
                
            </tr>
            <tr>
                <td data-title="N°">17</td>
                <td data-title="Date Of Call">2023-11-24 </td>
                <td data-title="Time Of Call"> 08:13:20</td>
                <td data-title="Subject">New York</td>
                <td data-title="Description">Descrip</td>
                
            </tr>
            <tr>
                <td data-title="N°">18</td>
                <td data-title="Date Of Call">2023-11-24 </td>
                <td data-title="Time Of Call"> 08:13:20</td>
                <td data-title="Subject">New York</td>
                <td data-title="Description">Descrip</td>
                
            </tr>
            <tr>
                <td data-title="N°">19</td>
                <td data-title="Date Of Call">2023-11-24 </td>
                <td data-title="Time Of Call"> 08:13:20</td>
                <td data-title="Subject">London</td>
                <td data-title="Description">Descrip</td>
                
            </tr>
            <tr>
                <td data-title="N°">20</td>
                <td data-title="Date Of Call">2023-11-24 </td>
                <td data-title="Time Of Call"> 08:13:20</td>
                <td data-title="Subject">Edinburgh</td>
                <td data-title="Description">Descrip</td>
                
            </tr>
     
        </tbody>
    </table>
</div>
 
